body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.continer {
    width: 90%;
    max-width: 900px;
    margin: 200px auto;
    background-color: rgb(255, 53, 161);
    border: 1px solid #000000;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

header {
    background-color: #ff258e;
    padding: 10px;
    border-bottom: 1px solid #000000;
}

header h1 {
    margin: 0;
    font-size: 20px;
}

nav ul {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 15px 10px;
    display: 1px solid #ffffff;
    border-radius: 50px;

}

nav a:hover {
    background-color: #ff36bf;
}

.header-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.content {
    flex: 1;
    border: 1px solid #ffffff;
    padding: 10px;
    margin-right: 10px;
}

.sidebar {
    flex: 1;
    border: 1px solid #f7f7f7;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 13px;
    border-top: 1px solid #ffffff;
    background-color: #552af4;
}